body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .quiz-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  h1 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  #try-again {
    background-color: #0ac417;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #try-again:hover {
    background-color: #13732e;
  }

  #results {
    display: none;
  }

  #results p {
    font-weight: bold;
  }

  #results .correct {
    color: green;
  }

  #results .incorrect {
    color: red;
  }